<%- include('./partials/header') %>

<div class="movvv" style="margin-top: 42px;">
    <div class="w-full h-screen flex flex-col md:flex-row items-start px-4 md:px-20 py-20">
        <div class="w-full md:w-[25%] flex h-auto flex-col items-start">
            <div class="flex items-center gap-2">
                <h3 style="color: #f84258;">sort by</h3>
                <form action="/shop">
                    <select class="border-[1px] px-2 py-1" name="sortby" id="">
                        <option value="popular">Popular</option>
                        <option value="newest">High Rating</option>
                    </select>
                </form>
            </div>
            <div class="flex flex-col mt-20 hidden md:block">
                <a class="block w-fit mb-2" href="">New Collection</a>
                <a class="block w-fit mb-2" href="">All Products</a>
                <a class="block w-fit mb-2" href="">Discounted Products</a>
            </div>
            <div class="mt-32 hidden md:block">
                <a class="block w-fit mb-2" href="">Filter by :</a>
                <a class="block w-fit mb-2" href="">Availability</a>
                <a class="block w-fit mb-2" href="">Discount</a>
            </div>
        </div>
        <div class="w-full md:w-[80%] flex flex-col gap-5 h-auto">
            <div class="flex items-start gap-5 flex-wrap">
                
                <% products.forEach(function(product) { %>
                    <% if (product.categorie === specificCategory) { %>
                        <div class="w-full sm:w-[48%] md:w-[23%]">
                            <div class="w-full h-auto flex items-center justify-center bg-[<%= product.bgcolour %>]">
                               <a href="/tailor/tailorview/<%= product._id %>"><img href="/tailor/tailorview" class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                                    alt=""> </a> 
                            </div>
                            <div class="flex justify-between bg-[<%= product.panelcolour %>] items-center px-4 py-4 text-[<%= product.textcolour %>]">
                                 <div>
                                    <h3>
                                        <%= product.name %>
                                    </h3>
                                    <h4>   <span>&#9733;</span><%= product.price %>
                                    </h4>
                                </div>
                                <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white" href="/addtocart/<%= product._id %>">
                                    <i class="ri-add-line"></i>
                                </a>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>